*.tar.gz
Assignement3/Fast-RCNN-Object-Detection-Pytorch/
*.pdf
Assignement3/simple-faster-rcnn-pytorch/
Assignement3/bird_dataset/
Assignement3/experiment/
Car-Number-Plate-Detection-OpenCV-Python/
deep-alpr/
pyANPD/
PyTorch/
vlfeat-0.9.20/
Assignement1/cyvlfeat_files.txt
Assignement1/cyvlfeat_git/
Assignement2/cifar-10-batches-py/
paintings_imdb_SIFT_10k_preprocessed.mat
Assignement1/data
Project/
deep-anpr/
